<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Fitness Tracking App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Fitness Tracking App</title>
  </head>
  <body>
    <h1>Welcome to G.A FIT</h1>
    <section class="hero is-fullheight">
      <div class="hero-body">
          <div class="container has-text-centered">
              <div class="column is-6 is-offset-3">
                  <div class="box" id="loginbox">
                      <form>
                          <div class="field">
                              <div class="control">
                                  <% if (user) { %>
                                  <a href="/logout">Log Out</a>
                                  <% } else { %>
                                  <a href="/auth/google">LOGIN with Google</a> <br />
                                  <% } %>
                              </li>
                              </div>
</head>
<body>
<h1>Welcome to Fitness Tracking App</h1>
<section class="hero is-fullheight">
  <div class="hero-body">
      <div class="container has-text-centered">
          <div class="column is-6 is-offset-3">
           
              <div class="box" id="loginbox">
                  <form>
                      <div class="field">
                          <div class="control">
                              <% if (user) { %>
                              <a href="/logout">Log Out</a>
                              <% } else { %>
                              <a href="/auth/google">LOGIN with Google</a> <br />
                            
                              <% } %> 
                          </li>
=======
                          </div>
              </div>
          </div>
      </div>
<<<<<<< HEAD
  </div>
</section>



</body>
</html>
>>>>>>> main
=======
    </section>
        </a>
      </div>
    </div>
  </body>
</html>
>>>>>>> main
