<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracking App</title>
</head>
<body>
<!--This is whre user lands after logging in-->    
<h1>Fitness Tracking App</h1>

<table>
  <thead></thead>
<h2>Workout</h2>
</thead>
<tbody>
  <ul>
  
</ul>

<tbody>

</table>


<!--exercise drop down menu-->
<h2>Add Exercise</h2>
<form action="/workout" method="POST">
<label>Exercise:
<select name="Exercise">
  <% exercise.forEach(function(e) { %>
    <option value="<%= e.exercise %>"><%= e.exercise %></option>
   <% }); %>
</select>
</label>

<br>    




</body>
</html>