<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracking App</title>
</head>
<body>
<!--This is whre user lands after logging in-->    
<h1>Fitness Tracking App</h1>

<!--exercise drop down menu-->
<h2>Add Exercise</h2>
<form action="/workoutlog" method="POST">
<label>Exercise:
<select name="Exercise">
<option value="pushup">pushup</option>
<option value="run">run</option>
<option value="situps">situps</option>
</select>
</label>

<br>    


<!--reps input box-->
Reps:
<input type""text">


<br>
<!--duration input box-->
Duration:
<input type""text">


<br>

<!--submit button-->
<div class="row">
  <div class="col-md-3">
    <a class="btn btn-outline-dark" href="/user" role="button" style="text-transform:none">
      Submit
    </a>
  </div>



<!--log out button-->
<div class="row">
    <div class="col-md-3">
      <a class="btn btn-outline-dark" href="/" role="button" style="text-transform:none">
        Log Out
      </a>
    </div>


<!--display-->
<body>
  <table>
    <thead>



















</body>
</html>